@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center orange-screen">
    <h1 class="display-4">Welcome Azure Demo</h1>
    <p>Fiserv Digital Channels Professional Services Azure training.</p>
    <div style="align-self:center;margin:100px 200px; background-color:darkorange;width:300px;height:300px;">Deployed with Github</div>
</div>
